<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body id="about-page">
    <a href="/views/home-page.html">Home</a>
    <a href="/views/works-page.html">Works</a>
    <a href="/views/photo-gallery-page.html">Photo Gallery</a>
    <h1>ABOUT THE GAMES</h1>
    <p>FINDING THE FITTEST ON EARTH™
        The CrossFit Games are the ultimate proving grounds for the Fittest Man and Fittest Woman on Earth™ and are world-renowned as the definitive test of fitness. 
        For the past 16 years, fans from around the world have attended the multi-day sporting event, streamed the competition online, or watched on ESPN, CBS, or a wide range of international broadcasts. 
        The international field of play has included athletes from over 120 countries.</p>
</body>
</html>